
<div class="page-header">
    <h1>Add model <small style="float:right;"><ol class="breadcrumb" style="background:none;">
      <li><a href="#/product">Product</a></li>
      <li><a href="#/model">Model</a></li>
    </ol></small></h1>
</div>
<div class="col-lg-6">
    <form id="addasset" ng-submit="submit()">
        <div class="form-group">
            <div class="col-md-12">
                <label>Product Nr.</label>
                <input id="inp1" type="text" class="form-control" placeholder="Search for..." ng-model="productNr"  ng-keypress="switchFocus($event)">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <label>Name</label>
                <select class="form-control" aria-describedby="addon-selectpname" ng-model="productName">
                    <option ng-repeat="result in searchdata.responseData.results">{{result.titleNoFormatting}}</option>
                </select>
            </div>
            <div class="col-lg-6 col-md-12">
              <label>Edit Name</label>
              <input id="inp2" type="text" class="form-control" value="{{ productName }}" ng-model="productName">
            </div>
        </div>
        <hr>
        <div class="row" >
            <div class="col-lg-6 col-md-12 margin-bottom">
                <label>Warranty</label>
                <input type="number" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" max="25" ng-model="warranty">
            </div>
            <div class="col-lg-6 col-md-12 margin-bottom">
                <label>Lifespan</label>
                <input type="number" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="1" max="25" ng-model="lifespan">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <label>Type</label>
                <select class="form-control" ng-model="type">
                    <option ng-repeat="type in types" value="{{ type }}">{{type}}</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" id="submit" value="Add" class="btn btn-success" >
            </div>
        </div>
        <div class="alert alert-success" ng-show="resultOfQueryS != null">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ok"></span> <strong>Model Created</strong>
        </div>
        <div class="alert alert-danger" ng-show="resultOfQueryF != null">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ok"></span> <strong>Error, model not created.</strong>
        </div>

    </form>
</div>

<div class="col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">Product number</div>
        <div class="panel-body">
            <p>The product number will automatically be searched for on google, the first 8 results will be displayed in the select input : Name</p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Warranty and Lifespan</div>
        <div class="panel-body">
            <p>The warranty and lifespan inputs indicates the number of years the warranty is good for and for how long it's recommended you use the asset.</p>
        </div>
    </div>
</div>

<!--
<div class="col-lg-6">
    <p>{{ serialNr }}</p>
    <p>{{ productNr }}</p>
    <p>{{ productName }}</p>
    <p>{{ status }}</p>
    <p>{{ type }}</p>
    <p>{{ warranty }}</p>
    <p>{{ lifespan }}</p>
    <p>{{ assignasset }}</p>
    <p>{{ owner }}</p>
    <p>{{ a.productId }}</p>
</div>-->
