<ol class="breadcrumb" style="background:none;">
  <li><a href="#/product">Product</a></li>
  <li><a href="#/model">Model</a></li>
</ol>
<div class="page-header">
    <h1>Add model</h1>
</div>
<div class="col-lg-6">
    <form id="addasset" ng-submit="submit()">
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-productnr">Product No.</span>
                    <input id="inp2" type="text" class="form-control" placeholder="Search for..." aria-describedby="addon-productnr" ng-model="productNr"  ng-keypress="switchFocus($event)">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-selectpname">Name</span>
                    <select class="form-control" aria-describedby="addon-selectpname" ng-model="productName">
                        <option ng-repeat="result in searchdata.responseData.results">{{result.titleNoFormatting}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-addon last" id="addon-productname">Edit Name</span>
                  <input id="last" type="text" class="form-control"  aria-describedby="addon-productname" value="{{ productName }}" ng-model="productName">
                </div>
            </div>
        </div>
        <hr>
        <div class="row" >
            <div class="col-lg-6 col-md-12 margin-bottom">
                <div class="input-group">
                  <span class="input-group-addon last" id="addon-warranty">Warranty</span>
                  <input type="number" class="form-control"  aria-describedby="addon-warranty" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" max="10" ng-model="warranty">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 margin-bottom">
                <div class="input-group">
                    <span class="input-group-addon last" id="addon-lifespan">Lifespan</span>
                    <input type="number" class="form-control"  aria-describedby="addon-lifespan" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="0" max="10" ng-model="lifespan">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-type">Type</span>
                    <select class="form-control" ng-model="type" aria-describedby="addon-type">
                        <option ng-repeat="type in types" value="{{ type }}">{{type}}</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" id="submit" value="Create" class="btn btn-success" >
            </div>
        </div>
        <div class="alert alert-success" ng-show="resultOfQueryS != null">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ok"></span> <strong>Model Created</strong>
        </div>
        <div class="alert alert-danger" ng-show="resultOfQueryF != null">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <span class="glyphicon glyphicon-ok"></span> <strong>Error, model not created.</strong>
        </div>

    </form>
</div>

<div class="col-lg-6">
    <div class="panel panel-info">
        <div class="panel-heading">Product number</div>
        <div class="panel-body">
            <p>The product number will automatically be searched for on google, the first 8 results will be displayed in the select input : Name</p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Warranty and Lifespan</div>
        <div class="panel-body">
            <p>The warranty and lifespan inputs indicates the number of years the warranty is good for and for how long it's recommended you use the asset.</p>
        </div>
    </div>
</div>

<!--
<div class="col-lg-6">
    <p>{{ serialNr }}</p>
    <p>{{ productNr }}</p>
    <p>{{ productName }}</p>
    <p>{{ status }}</p>
    <p>{{ type }}</p>
    <p>{{ warranty }}</p>
    <p>{{ lifespan }}</p>
    <p>{{ assignasset }}</p>
    <p>{{ owner }}</p>
    <p>{{ a.productId }}</p>
</div>-->
