<div ng-repeat="product in products">
<p>Id: {{product.productId}}</p>
<p>SerialNR: {{product.serialNr}}</p>
<p>ProductNR: {{product.productNr}}</p>
<p>Name: {{product.productName}}</p>
<p>Warranty: {{product.warranty}}</p>
<p>Lifespan: {{product.lifespan}}</p>
<p>Status: {{product.status}}</p>
<p>Type: {{product.type}}</p>
</div>
<hr>
<div ng-repeat="staff in staffs">
<p>Id: {{staff.staffId}}</p>
<p>Name: {{staff.name}}</p>
<p>Phone: {{staff.phone}}</p>
</div>
<hr>
<p>{{ sp }}</p>
<div ng-repeat="a in sp">
<p>staffid: {{a.staffId}}</p>
<p>productid: {{a.productId}}</p>
</div>
